---
feature_name: BlueRetro OTA FW update
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

Please consult the documentation found on the wiki:<br>
<a href="https://github.com/darthcloud/BlueRetro/wiki/BlueRetro-BLE-Web-Config-User-Manual#5---ota-fw-update-page" target="_blank">5 - OTA FW update page</a><br><br>

<!-- Base on https://www.html5rocks.com/en/tutorials/file/dndfiles// -->
<div id="divBtConn">
    <button id="btConn">Connect BlueRetro</button><br>
    <small><i>Disconnect all controllers from BlueRetro before connecting for update.</i></small>
</div>
<div id="divInfo" style="display:none;margin-bottom:1em;"></div>
<div id="divFwSelect" style="display:none;margin-bottom:1em;">
    Select firmware:
    <input type="file" id="fwFile" name="fw.bin"/><br>
    <button id="btnFwUpdate">Update Firmware</button>
</div>
<div id="divFwUpdate" style="display:none;margin-bottom:1em;">
    <div id="progress_bar"><div class="percent"></div></div>
    <button id="btnFwUpdateCancel">Cancel</button>
</div>

{% include output_helper.html %}

<script type="module">
  import { btConn, firmwareUpdate, abortFwUpdate } from './ota.js';

  document.getElementById("btnFwUpdate").addEventListener('click', firmwareUpdate);
  document.getElementById("btnFwUpdateCancel").addEventListener('click', abortFwUpdate);
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
