---
feature_name: BlueRetro Presets config
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

Please consult the documentation found on the wiki:<br>
<a href="https://github.com/darthcloud/BlueRetro/wiki/BlueRetro-BLE-Web-Config-User-Manual#3---presets-page" target=”_blank”>3 - Presets page</a><br><br>

<div id="divBtConn">
    <button id="btConn">Connect BlueRetro</button><br>
    <small><i>Disconnect all controllers from BlueRetro before connecting for configuration.</i></small>
</div>
<div id="divInfo" style="display:none;margin-bottom:1em;"></div>
<div id="divCfgSel" style="display:none;margin-bottom:1em;"></div>
<div id="divInputCfg" style="display:none;margin-bottom:1em;">
    <h2 style="margin:0;">Mapping Config</h2>
    <p id="desc"></p>
</div>

{% include output_helper.html %}

<script src='sql.js/sql-wasm.js'></script>
<script type="module">
  import { btConn } from './presets.js';

  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
