---
feature_name: BlueRetro System Manager
icon_url: icon.png
index: index.html
---

{% include_relative _includes/intro.html %}

<p align="center"><a href="https://blueretro.com/products/brx"><img src="brx_banner.png"/></a></p><br>

Please consult the documentation found on the wiki:<br>
<a href="https://github.com/darthcloud/BlueRetro/wiki/BlueRetro-BLE-Web-Config-User-Manual#4---system-manager-page" target="_blank">4 - System manager page</a><br><br>

<!-- Base on https://www.html5rocks.com/en/tutorials/file/dndfiles// -->
<div id="divBtConn">
    <button id="btConn">Connect BlueRetro</button><br>
    <small><i>Disconnect all controllers from BlueRetro before connecting for update.</i></small>
</div>
<div id="divInfo" style="display:none;margin-bottom:1em;"></div>
<div id="divSleep" style="display:none;margin-bottom:1em;">
    <button id="btnSleep">Put in Deep Sleep</button>
</div>
<div id="divReset" style="display:none;margin-bottom:1em;">
    <button id="btnReset">Reset</button>
</div>
<div id="divFactory" style="display:none;margin-bottom:1em;">
    <button id="btnFactory">Factory Reset</button>
</div>


{% include output_helper.html %}

<script type="module">
  import { btConn, setDeepSleepEvent, setResetEvent, setFactoryResetEvent } from './system.js';

  document.getElementById("btnSleep").addEventListener('click', setDeepSleepEvent);
  document.getElementById("btnReset").addEventListener('click', setResetEvent);
  document.getElementById("btnFactory").addEventListener('click', setFactoryResetEvent);
  document.getElementById("btConn").addEventListener('click', function() {
    if (isWebBluetoothEnabled()) {
      ChromeSamples.clearLog();
      btConn();
    }
  });
</script>

{% include_relative _includes/utils.html %}
